<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.2/dist/echarts.min.js"></script>

</head>
<body>
<div id="chart-cpu" class="chart-size"></div>
<script src=" {{ url_for('static', filename='myChart.js') }}" type="text/javascript"></script>
</body>
</html>